src/com/herocraft/javacat/templ/foundation/conf/config.xsd

<?xml version="1.0" encoding="UTF-8"?>	
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="config" type="Configuration"/>
	<xsd:complexType name="Configuration">
		<xsd:sequence>			
			<xsd:element name="param" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="id" type="xsd:string" use="required"/>
					<xsd:attribute name="value" type="xsd:string" use="required"/>
				</xsd:complexType>				
			</xsd:element>							
		</xsd:sequence>				
	</xsd:complexType>	
</xsd:schema>