src/com/herocraft/javacat/templ/foundation/conf/instructions.xsd

<?xml version="1.0" encoding="UTF-8"?>	
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="instructions" type="Instructions"/>
	<xsd:complexType name="Instructions">
		<xsd:sequence>			
			<xsd:element name="instruction" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="tagname" type="xsd:string" use="required"/>
					<xsd:attribute name="classname" type="xsd:string" use="required"/>
				</xsd:complexType>				
			</xsd:element>							
		</xsd:sequence>				
	</xsd:complexType>	
</xsd:schema>